<div id="container">
<img src="./assets/MMTR.png" >
</div>
<div id="body">
<mat-card>

<mat-card-title style="text-align: center;">About Us</mat-card-title>
<br><br>
<p><span>
  Welcome to MMTR! These days, keeping track of tasks can be difficult, so I've made a simple and intuitive platform to help you stay organized and on top of your daily to-do list. This web app allows you to easily create, edit, and delete tasks, set reminders for important deadlines, and prioritize your tasks based on their importance.
  </span>
  </p>
    <p><span>
    This application is built using the latest web technologies, including Angular, Firebase, and Bootstrap. This ensures that this application is fast, reliable, and scalable.
    </span></p>

  <p><span>
    The main goal is to make task management a stress-free experience, so you can focus on what's important. Kindly note that this application is still under development. So, Please inform us if you find any difficulties using it. The Notification mechanism is still under development.
</span></p>

<p><span>
  <b>For more more information , you can contact me through:</b><br>
  <h5>Mail : udaykiran.gntr@gmail.com </h5>
  <h5>LinkedIn : <a href="https://www.linkedin.com/in/uday-kiran-thummala-006a71203" target="_blank" style="text-decoration: none;color: black;">@udaykiranthummala</a></h5>
</span></p>

<mat-card-footer style="text-align: center;">/*/Made with Angular/*/</mat-card-footer>
<br><br>
<button mat-raised-button (click)="click()" color="primary">Get started</button>
</mat-card>

</div>
