mat-card{
  padding: 20px;
  width: 50%;
  height: 60%;
  margin: auto;
  margin-top: 50px;
}

mat-card-title{
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}
