<mat-card>
  <mat-card-title>Edit Schedule</mat-card-title>

  <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input width="50%" height="60%" rows="5" matInput type="text" [(ngModel)]="new1" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link</mat-label>
  <input type="text" width="50%" height="60%" cols="10" matInput [(ngModel)]="new2" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput type="date" [(ngModel)]="dat" [min]="mindate" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Time-24 hr</mat-label>
    <input matInput type="time" placeholder="24-Hour format" [(ngModel)]="time" required>
  </mat-form-field>
  <br>
</mat-card>
<div id="buttons">
  <button mat-button color="primary" (click)="update()"  style="float: right;" id="update">Update</button>
  <button mat-button color="red" (click)="cancel()"   style="float: right;margin-right: 20px;" id="cancel">Cancel</button>
</div>
<!-- <p #write>{{userid}} jhdafiaksjbd</p> -->
