/* table{
  margin: auto;
  font-family: 'Arimo', sans-serif;
  width: 50%;
  border: 2px solid black;
  border-collapse: collapse;
}
th{
  border: 2px solid black;
  font-weight: bold;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
}
td{
  text-align: center;
  border: 2px solid black;
  padding: 15px;
} */

.reload-button {
  /* position: fixed; */
  top: 40px;
  right: 20px;
  padding: 2px;
  float: right;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.reload-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.275);
  transition: 0.5s;
}


mat-card{
  padding: 10px;
}

div{
  width: 50%;
  margin:10px auto;
}

mat-panel-title,mat-panel-description{
  font-family: 'Arimo',sans-serif;
  font-size: 15px;
}
p{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 5px;
}
.inp{
  text-align: left;
  font-family: 'Verdana',sans-serif;
}
mat-accordian{
  padding: 10px;
}

mat-card{
  min-height: 50%;
}


