mat-card{

  padding: 20px;
  width: 40%;
  margin: auto;
  background-image: url("src\assets\MMTR.png");
  background-position: center;
  background-size: contain;
}

mat-form-field{
  opacity: 0.8;
}

#me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* adjust this as needed */
}

mat-card-title{
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  padding: 10px;
  text-align: center;
  word-wrap: break-word;
}

button{
  padding: 10px;
}
